// -----------------------------------------------------------------------------
// Arquivo principal do Sass - Ponto de entrada
// Importa todos os módulos na ordem correta usando @use
// -----------------------------------------------------------------------------

// 1. Abstracts (sem output CSS)
@use 'abstracts/variables' as *;
@use 'abstracts/functions' as *;
@use 'abstracts/mixins' as *;

//2. Base
@use 'base/reset';

// 3. Layout
@use 'layout/header';
@use 'layout/navigation';

// 4. Components
@use 'components/buttons';

// 5. Sections
@use 'section/hero';
@use 'section/about';
@use 'section/skills';
@use 'section/projects';
@use 'section/experience';
@use 'section/contact';

// 5. Utilities
@use 'utilities/helpers';

body {
  background-color: $color-gray-50;
  color: $color-gray-900;
  font-family: $font-primary;
  line-height: 1.6;

  [data-theme='dark'] & {
    background-color: $color-gray-900;
    color: $color-gray-100;
  }
}

body,
.header,
.hero {
  transition:
    background-color $transition-base,
    color $transition-base;
}

h1 {
  font-size: $font-size-4xl;
  color: $color-primary;

  @include respond-to('md') {
    font-size: $font-size-5xl;
  }
}
